doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Восстановление пароля к платформе «Центр систем связи»
        style.
            .container { padding: 0 100px; }



    body.container
        img(src="https://firebasestorage.googleapis.com/v0/b/logis-logistics.appspot.com/o/images%2Ffavicon.png?alt=media&token=d9e2999c-d443-45a0-8107-4559da536111", alt="Учебный центр Основа" style="width: 130px;")
        h3 Здравствуйте, #{name} 
        p вы отправили запрос на восстановление пароля для доступа на платформу &nbsp; 
            a(href=url_app) «#{app_name}».
        br
        p Для восстановления пароля, перейдите по ссылке ниже.
        p
            a(href=url_link) #{url_link}
        
        p Если Вы не отправляли запрос на сброс пароля, просто проигнорируйте это письмо.

        hr
        footer
            p С уважением, «#{app_name}»
